code .str,
pre .str {
    color: #65B042
}

code .kwd,
pre .kwd {
    color: #E28964
}

code .com,
pre .com {
    color: #AEAEAE;
    font-style: italic
}

code .typ,
pre .typ {
    color: #89bdff
}

code .lit,
pre .lit {
    color: #3387CC
}

code .pln,
code .pun,
pre .pln,
pre .pun {
    color: #fff
}

code .tag,
pre .tag {
    color: #89bdff
}

code .atn,
pre .atn {
    color: #bdb76b
}

code .atv,
pre .atv {
    color: #65B042
}

code .dec,
pre .dec {
    color: #3387CC
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #AEAEAE
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none
}

@media print {

    code .str,
    pre .str {
        color: #060
    }

    code .kwd,
    pre .kwd {
        color: #006;
        font-weight: 700
    }

    code .com,
    pre .com {
        color: #600;
        font-style: italic
    }

    code .typ,
    pre .typ {
        color: #404;
        font-weight: 700
    }

    code .lit,
    pre .lit {
        color: #044
    }

    code .pun,
    pre .pun {
        color: #440
    }

    code .pln,
    pre .pln {
        color: #000
    }

    code .tag,
    pre .tag {
        color: #006;
        font-weight: 700
    }

    code .atn,
    pre .atn {
        color: #404
    }

    code .atv,
    pre .atv {
        color: #060
    }
} 








pre code,
 pre .line-number {
     color: #fff;
     display: block;
 }

 pre .line-number {
     counter-increment: linecounter;
     float: left;
     margin: 0 1em 0 -1em;
     border-right: 1px solid red;
     text-align: right;
     line-height: 16px;
 }

 pre .line-number span {
     display: block;
     padding: 0 .5em 0 6em;
     line-height: 16px;
 }

 pre .cl {
     display: block;
     background-color: #555;
 }

 pre span.line {
     counter-increment: linecounter;
     line-height: 16px;
 }

 pre:before {
     content: '';
     display: none;
     background: #F7F7F7;
     margin-left: -7px;
     margin-right: -7px;
     color: #2c3e50;
     padding-left: 7px;
     font-weight: 400;
     font-size: 15px;
 }

 xmp {
     width: 100%;
 }

 xmp:before {
     content: "";
     display: block;
     height: 1em;
     margin: 0 -5px -2em -5px;
 }
code, pre {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	line-height: 16px;
    white-space: pre-wrap;
	font-size: 15px;
}   
 pre.prettyprint {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 15px;
     background-color: #13052e;
     width: auto;
     width: 650px !ie7;
     margin: 0.5em auto;
     padding: 10px;
     padding-bottom: 20px !ie7;
     display: block;
     direction: ltr;
     unicode-bidi: bidi-override;
     color: #fff;
     word-break: normal;
     border: none;
     border-left: 10px solid #F9BC00;
     border-radius: 15px;
     line-height: 16px;
     overflow: auto;
     position: relative;
     white-space: pre-wrap
 }
 .K2_CBox {
     position: relative;
     background: #f0c6c6;
     border-radius: 15px;
     box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
     padding: 2px 8px 2px 10px;
     margin-bottom: 10px;
     width: -webkit-fill-available;
 }



  .K2_CBox .C_box_main {
     cursor: pointer;
     /* border-color: #f9e9e9; 
    border: 2px solid #e12929; */
     padding: 8px 10px 6px 10px;
     position: absolute;
     /* align-items: center; */
     /* padding: 12px; */
     outline: 0;
     /* border: 0; */
     border-radius: 50%;
     background: #004cbd;
     transition: all .3s ease;
     -webkit-transition: all .3s ease;
     z-index: 1;
     right: 20px;
     top: 0px;
     margin: 5px;
     transition: .1s;
 }

 .C_box_main:hover {
     opacity: .8
 }

 .C_box_main .CBox_icn {
     flex-shrink: 0;
     display: inline-block;
     width: 18px;
     height: 18px;
     background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23fefefe' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' viewBox='0 0 24 24'><rect x='5.54615' y='5.54615' width='16.45385' height='16.45385' rx='4'/><path d='M171.33311,181.3216v-8.45385a4,4,0,0,1,4-4H183.787' transform='translate(-169.33311 -166.86775)'/></svg>");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
 }

 .C_box_main.copied {
     background: #2dcda7;
     /* border: 2px solid #ffffff; */

 }

 .C_box_main.copied .CBox_icn {
     background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23fefefe' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' viewBox='0 0 24 24'><path d='M22 11.07V12a10 10 0 1 1-5.93-9.14'/><polyline points='23 3 12 14 9 11'/></svg>");
 }

 .lNotf span {
     position: fixed;
     left: 24px;
     bottom: -70px;
     display: inline-flex;
     align-items: center;
     text-align: center;
     justify-content: center;
     margin-bottom: 20px;
     z-index: 99981;
     background: #323232;
     color: rgba(255, 255, 255, .8);
     font-size: 14px;
     font-family: inherit;
     border-radius: 3px;
     padding: 13px 24px;
     box-shadow: 0 5px 35px rgba(149, 157, 165, .3);
     opacity: 0;
     transition: all .1s ease;
     animation: slideinwards 2s ease forwards;
     -webkit-animation: slideinwards 2s ease forwards;
 }

 @media screen and (max-width:500px) {
     .lNotf span {
         margin-bottom: 20px;
         left: 20px;
         right: 20px;
         font-size: 13px;
     }
 }

 @keyframes slideinwards {
     0% {
         opacity: 0
     }

     20% {
         opacity: 1;
         bottom: 0
     }

     50% {
         opacity: 1;
         bottom: 0
     }

     80% {
         opacity: 1;
         bottom: 0
     }

     100% {
         opacity: 0;
         bottom: -70px;
         visibility: hidden
     }
 }

 @-webkit-keyframes slideinwards {
     0% {
         opacity: 0
     }

     20% {
         opacity: 1;
         bottom: 0
     }

     50% {
         opacity: 1;
         bottom: 0
     }

     80% {
         opacity: 1;
         bottom: 0
     }

     100% {
         opacity: 0;
         bottom: -70px;
         visibility: hidden;
     }
 }

 .darkMode .lNotf span {
     box-shadow: 0 10px 40px rgba(0, 0, 0, .2);
 }
