/*   ========================  Internet Check css Code-1 Stert 
<link href="https://cdnjs.cloudflare.com/ajax/libs/offline-js/0.7.19/themes/offline-theme-slide.min.css" rel="stylesheet" type="text/css"></link>  =====   */
.offline-ui,
.offline-ui *,
.offline-ui :before,
.offline-ui:after,
.offline-ui:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.offline-ui {
    display: none;
    position: fixed;
    background: #fff;
    z-index: 2000;
    margin: auto;
    top: 0;
    left: 0;
    right: 0
}

.offline-ui .offline-ui-content:before {
    display: inline
}

.offline-ui .offline-ui-retry {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: none
}

.offline-ui .offline-ui-retry:before {
    display: inline
}

.offline-ui.offline-ui-up.offline-ui-up-5s {
    display: block
}

.offline-ui.offline-ui-down {
    display: block
}

.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-retry {
    display: block
}

.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
    display: none
}

@-webkit-keyframes offline-dropin {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 0
    }

    1% {
        transform: translateY(-800px);
        -webkit-transform: translateY(-800px);
        -moz-transform: translateY(-800px);
        -ms-transform: translateY(-800px);
        -o-transform: translateY(-800px);
        opacity: 0
    }

    2% {
        transform: translateY(-800px);
        -webkit-transform: translateY(-800px);
        -moz-transform: translateY(-800px);
        -ms-transform: translateY(-800px);
        -o-transform: translateY(-800px);
        opacity: 1
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1
    }
}

@-moz-keyframes offline-dropin {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 0
    }

    1% {
        transform: translateY(-800px);
        -webkit-transform: translateY(-800px);
        -moz-transform: translateY(-800px);
        -ms-transform: translateY(-800px);
        -o-transform: translateY(-800px);
        opacity: 0
    }

    2% {
        transform: translateY(-800px);
        -webkit-transform: translateY(-800px);
        -moz-transform: translateY(-800px);
        -ms-transform: translateY(-800px);
        -o-transform: translateY(-800px);
        opacity: 1
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1
    }
}

@-ms-keyframes offline-dropin {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 0
    }

    1% {
        transform: translateY(-800px);
        -webkit-transform: translateY(-800px);
        -moz-transform: translateY(-800px);
        -ms-transform: translateY(-800px);
        -o-transform: translateY(-800px);
        opacity: 0
    }

    2% {
        transform: translateY(-800px);
        -webkit-transform: translateY(-800px);
        -moz-transform: translateY(-800px);
        -ms-transform: translateY(-800px);
        -o-transform: translateY(-800px);
        opacity: 1
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1
    }
}

@-o-keyframes offline-dropin {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 0
    }

    1% {
        transform: translateY(-800px);
        -webkit-transform: translateY(-800px);
        -moz-transform: translateY(-800px);
        -ms-transform: translateY(-800px);
        -o-transform: translateY(-800px);
        opacity: 0
    }

    2% {
        transform: translateY(-800px);
        -webkit-transform: translateY(-800px);
        -moz-transform: translateY(-800px);
        -ms-transform: translateY(-800px);
        -o-transform: translateY(-800px);
        opacity: 1
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1
    }
}

@keyframes offline-dropin {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 0
    }

    1% {
        transform: translateY(-800px);
        -webkit-transform: translateY(-800px);
        -moz-transform: translateY(-800px);
        -ms-transform: translateY(-800px);
        -o-transform: translateY(-800px);
        opacity: 0
    }

    2% {
        transform: translateY(-800px);
        -webkit-transform: translateY(-800px);
        -moz-transform: translateY(-800px);
        -ms-transform: translateY(-800px);
        -o-transform: translateY(-800px);
        opacity: 1
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes offline-dropout {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0)
    }

    100% {
        transform: translateY(-800px);
        -webkit-transform: translateY(-800px);
        -moz-transform: translateY(-800px);
        -ms-transform: translateY(-800px);
        -o-transform: translateY(-800px)
    }
}

@-moz-keyframes offline-dropout {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0)
    }

    100% {
        transform: translateY(-800px);
        -webkit-transform: translateY(-800px);
        -moz-transform: translateY(-800px);
        -ms-transform: translateY(-800px);
        -o-transform: translateY(-800px)
    }
}

@-ms-keyframes offline-dropout {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0)
    }

    100% {
        transform: translateY(-800px);
        -webkit-transform: translateY(-800px);
        -moz-transform: translateY(-800px);
        -ms-transform: translateY(-800px);
        -o-transform: translateY(-800px)
    }
}

@-o-keyframes offline-dropout {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0)
    }

    100% {
        transform: translateY(-800px);
        -webkit-transform: translateY(-800px);
        -moz-transform: translateY(-800px);
        -ms-transform: translateY(-800px);
        -o-transform: translateY(-800px)
    }
}

@keyframes offline-dropout {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0)
    }

    100% {
        transform: translateY(-800px);
        -webkit-transform: translateY(-800px);
        -moz-transform: translateY(-800px);
        -ms-transform: translateY(-800px);
        -o-transform: translateY(-800px)
    }
}

@-webkit-keyframes offline-rotation {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0)
    }

    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg)
    }
}

@-moz-keyframes offline-rotation {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0)
    }

    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg)
    }
}

@-ms-keyframes offline-rotation {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0)
    }

    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg)
    }
}

@-o-keyframes offline-rotation {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0)
    }

    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg)
    }
}

@keyframes offline-rotation {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0)
    }

    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg)
    }
}

.offline-ui {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    font-family: "Helvetica Neue", sans-serif;
    padding: 1em;
    width: 38em;
    max-width: 100%;
    overflow: hidden
}

@media (max-width:38em) {
    .offline-ui {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0
    }
}

.offline-ui .offline-ui-retry {
    position: absolute;
    right: 3em;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .1);
    text-decoration: none;
    color: inherit;
    line-height: 3.5em;
    height: 3.5em;
    margin: auto;
    padding: 0 1em
}

.offline-ui.offline-ui-up {
    -webkit-animation: offline-dropout forwards .5s 2s;
    -moz-animation: offline-dropout forwards .5s 2s;
    -ms-animation: offline-dropout forwards .5s 2s;
    -o-animation: offline-dropout forwards .5s 2s;
    animation: offline-dropout forwards .5s 2s;
    -webkit-backface-visibility: hidden;
    background: #d6e9c6;
    color: #468847
}

.offline-ui.offline-ui-down {
    -webkit-animation: offline-dropin .5s;
    -moz-animation: offline-dropin .5s;
    -ms-animation: offline-dropin .5s;
    -o-animation: offline-dropin .5s;
    animation: offline-dropin .5s;
    -webkit-backface-visibility: hidden;
    background: #ec8787;
    color: #551313
}

.offline-ui.offline-ui-down.offline-ui-connecting,
.offline-ui.offline-ui-down.offline-ui-waiting {
    background: #f8ecad;
    color: #7c6d1f;
    padding-right: 3em
}

.offline-ui.offline-ui-down.offline-ui-connecting:after,
.offline-ui.offline-ui-down.offline-ui-waiting:after {
    -webkit-animation: offline-rotation .7s linear infinite;
    -moz-animation: offline-rotation .7s linear infinite;
    -ms-animation: offline-rotation .7s linear infinite;
    -o-animation: offline-rotation .7s linear infinite;
    animation: offline-rotation .7s linear infinite;
    -webkit-backface-visibility: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    content: " ";
    display: block;
    position: absolute;
    right: 1em;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 1em;
    width: 1em;
    border: 2px solid transparent;
    border-top-color: #7c6d1f;
    border-left-color: #7c6d1f;
    opacity: .7
}

.offline-ui.offline-ui-down.offline-ui-waiting {
    padding-right: 11em
}

.offline-ui.offline-ui-down.offline-ui-waiting.offline-ui-reconnect-failed-2s {
    padding-right: 0
}

/*  ======================== Internet Check Css Code End  ======================== */

/*  ======================== Internet Check css Code-2 Stert 
<link href="https://cdnjs.cloudflare.com/ajax/libs/offline-js/0.7.19/themes/offline-language-english.min.css" rel="stylesheet"></link>
  ========================  */

.offline-ui .offline-ui-retry:before {
    content: "Reconnect"
}

.offline-ui.offline-ui-up .offline-ui-content:before {
    content: "Your computer is connected to the internet."
}

@media (max-width:1024px) {
    .offline-ui.offline-ui-up .offline-ui-content:before {
        content: "Your device is connected to the internet."
    }
}

@media (max-width:568px) {
    .offline-ui.offline-ui-up .offline-ui-content:before {
        content: "Your device is connected."
    }
}

.offline-ui.offline-ui-down .offline-ui-content:before {
    content: "Your computer lost its internet connection."
}

@media (max-width:1024px) {
    .offline-ui.offline-ui-down .offline-ui-content:before {
        content: "Your device lost its internet connection."
    }
}

@media (max-width:568px) {
    .offline-ui.offline-ui-down .offline-ui-content:before {
        content: "Your device isn't connected."
    }
}

.offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:before,
.offline-ui.offline-ui-down.offline-ui-connecting-2s .offline-ui-content:before {
    content: "Attempting to reconnect..."
}

.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=second]:before {
    content: "Connection lost. Reconnecting in " attr(data-retry-in-value) " seconds..."
}

@media (max-width:568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=second]:before {
        content: "Reconnecting in " attr(data-retry-in-value) "s..."
    }
}

.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=second][data-retry-in-value="1"]:before {
    content: "Connection lost. Reconnecting in " attr(data-retry-in-value) " second..."
}

@media (max-width:568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=second][data-retry-in-value="1"]:before {
        content: "Reconnecting in " attr(data-retry-in-value) "s..."
    }
}

.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=minute]:before {
    content: "Connection lost. Reconnecting in " attr(data-retry-in-value) " minutes..."
}

@media (max-width:568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=minute]:before {
        content: "Reconnecting in " attr(data-retry-in-value) "m..."
    }
}

.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=minute][data-retry-in-value="1"]:before {
    content: "Connection lost. Reconnecting in " attr(data-retry-in-value) " minute..."
}

@media (max-width:568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=minute][data-retry-in-value="1"]:before {
        content: "Reconnecting in " attr(data-retry-in-value) "m..."
    }
}

.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=hour]:before {
    content: "Connection lost. Reconnecting in " attr(data-retry-in-value) " hours..."
}

@media (max-width:568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=hour]:before {
        content: "Reconnecting in " attr(data-retry-in-value) "h..."
    }
}

.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=hour][data-retry-in-value="1"]:before {
    content: "Connection lost. Reconnecting in " attr(data-retry-in-value) " hour..."
}

@media (max-width:568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=hour][data-retry-in-value="1"]:before {
        content: "Reconnecting in " attr(data-retry-in-value) "h..."
    }
}

.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
    display: none
}

.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s .offline-ui-content:before {
    content: "Connection attempt failed."
}

/*  ========================  Internet Check Css Code End  ======================== */


/*  ======================== Downlode Button Style CSS Code   ======================== */
.dlbtn {
    background-color: #0167af;
    border: solid 3px #dd5f5f;
    border-radius: 30px;
    color: #fff;
    padding: 4px 14px;
    cursor: pointer;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
}
.fa, .fas {
    margin-right: 7px;
}

/*  ======================== Collapsible Section Style CSS Code   ======================== */
 details {
            margin: auto;
            border: 1px solid #ccc;
            border-radius: 20px 0px 18px 0px;
            overflow: hidden;
            box-shadow: 0 4px 6px rgb(0 0 0 / 45%);
            background-color: #fff;
        }

        summary {
            background-color: #102a3c;
            color: white;
            padding: 10px;
            font-size: 16px;
            border: none;
            text-align: left;
            width: 100%;
            cursor: pointer;
            outline: none;
            transition: background-color 0.3s ease;
            display: flex;
            align-items: center;
        }

        summary::-webkit-details-marker {
            color: #00ACF3;
            font-size: 125%;
            margin-right: 2px;
        }

        summary:hover {
            background-color: #2c5266;
        }

        .arrow {
            margin-right: 10px;
            transition: transform 0.3s ease;
	   font-size: 20px;
            color: #2bff00;
            font-weight: bolder;
        }

        .collapsible-body {
            max-height: 0;
            overflow: hidden;
            padding: 0 15px;
            background-color: #e0e0e0;
            /* Sedo (grayish) background color */
            transition: max-height 0.9s ease, padding 0.9s ease;
            /* Slower transition */
        }

        details[open] .collapsible-body {
            max-height: 200px;
            /* Adjust based on content height */
        }

        .collapsible-body p {
            margin: 15px 0;
        }

        summary:focus {
            outline: none;
            /* Remove focus outline */
        }

        details[open] summary {
            background-color: #1c4e71;
        }

        /* Rotate arrow when details are open */
        details[open] summary .arrow {
            transform: rotate(90deg);
        }
/* -- highlighting effect Style CSS Code mark Teg --*/

mark {
  padding: 3px 6px;
  border-radius: 6px;
  background-image: linear-gradient(to right, #ffcfafed, #ffdbe0d1, #ffb2fdcc);
}

a {
  text-decoration: none;
  transition: all 200ms ease-out;
}

/* -- highlighting effect Style CSS Code mark Teg --*/

/* -- Pre Code Line Number Style CSS Code  --*/
code .str,
pre .str {
    color: #65B042
}

code .kwd,
pre .kwd {
    color: #E28964
}

code .com,
pre .com {
    color: #AEAEAE;
    font-style: italic
}

code .typ,
pre .typ {
    color: #89bdff
}

code .lit,
pre .lit {
    color: #3387CC
}

code .pln,
code .pun,
pre .pln,
pre .pun {
    color: #fff
}

code .tag,
pre .tag {
    color: #89bdff
}

code .atn,
pre .atn {
    color: #bdb76b
}

code .atv,
pre .atv {
    color: #65B042
}

code .dec,
pre .dec {
    color: #3387CC
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #AEAEAE
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none
}

@media print {

    code .str,
    pre .str {
        color: #060
    }

    code .kwd,
    pre .kwd {
        color: #006;
        font-weight: 700
    }

    code .com,
    pre .com {
        color: #600;
        font-style: italic
    }

    code .typ,
    pre .typ {
        color: #404;
        font-weight: 700
    }

    code .lit,
    pre .lit {
        color: #044
    }

    code .pun,
    pre .pun {
        color: #440
    }

    code .pln,
    pre .pln {
        color: #000
    }

    code .tag,
    pre .tag {
        color: #006;
        font-weight: 700
    }

    code .atn,
    pre .atn {
        color: #404
    }

    code .atv,
    pre .atv {
        color: #060
    }
}




pre code,
pre .line-number {
    color: #fff;
    display: block;
}

pre .line-number {
    counter-increment: linecounter;
    float: left;
    margin: 0 1em 0 -1em;
    border-right: 1px solid red;
    text-align: right;
    line-height: 16px;
}

pre .line-number span {
    display: block;
    padding: 0 .5em 0 .6em;
    line-height: 16px;
}

pre .cl {
    display: block;
    background-color: #555;
}

pre span.line {
    counter-increment: linecounter;
    line-height: 16px;
}

pre:before {
    content: '';
    display: none;
    background: #F7F7F7;
    margin-left: -7px;
    margin-right: -7px;
    color: #2c3e50;
    padding-left: 7px;
    font-weight: 400;
    font-size: 15px;
}

xmp {
    width: 100%;
}

xmp:before {
    content: "";
    display: block;
    height: 1em;
    margin: 0 -5px -2em -5px;
}

code,
pre {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    line-height: 16px;
    white-space: pre-wrap;
    font-size: 15px;
}


pre.prettyprint {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif, "JetBrains Mono", sans-serif;
    font-size: 15px;
    background-color: rgb(8, 27, 75);
    width: auto;
    width: 650px !ie7;
    margin: 0.5em auto;
    padding: 10px;
    padding-bottom: 20px !ie7;
    display: block;
    direction: ltr;
    unicode-bidi: bidi-override;
    color: #fff;
    word-break: normal;
    border: none;
    border-left: 10px solid #F9BC00;
    border-radius: 15px;
    line-height: 16px;
    overflow: auto;
    position: relative;
    white-space: pre-wrap
}

.K2_CBox {
    position: relative;
}

.K2_CBox .C_box_main {
    cursor: pointer;
    /* border-color: #f9e9e9; 
    border: 2px solid #e12929; */
    padding: 6px 8px 4px 8px;
    position: absolute;
    /* align-items: center;
	  margin: 5px; */
    /* padding: 12px; */
    outline: 0;
    /* border: 0; */
    border-radius: 50%;
    background: #004cbd;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    z-index: 1;
    right: 10px;
    top: 0px;

    transition: .1s;
}

.C_box_main {
    padding: 6px 8px 4px 8px;
    position: absolute;
    border-radius: 50%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    z-index: 1;
    transition: .1s;
    right: 20px;
    background: #004cbd;
}

.C_box_main:hover {
    opacity: .8
}

.C_box_main .CBox_icn {
    flex-shrink: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23fefefe' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' viewBox='0 0 24 24'><rect x='5.54615' y='5.54615' width='16.45385' height='16.45385' rx='4'/><path d='M171.33311,181.3216v-8.45385a4,4,0,0,1,4-4H183.787' transform='translate(-169.33311 -166.86775)'/></svg>");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.C_box_main.copied {
    background: #2dcda7;
    /* border: 2px solid #ffffff; */

}

.C_box_main.copied .CBox_icn {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23fefefe' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' viewBox='0 0 24 24'><path d='M22 11.07V12a10 10 0 1 1-5.93-9.14'/><polyline points='23 3 12 14 9 11'/></svg>");
}

.lNotf span {
    position: fixed;
    left: 24px;
    bottom: -70px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    z-index: 99981;
    background: #323232;
    color: rgba(255, 255, 255, .8);
    font-size: 14px;
    font-family: inherit;
    border-radius: 3px;
    padding: 13px 24px;
    box-shadow: 0 5px 35px rgba(149, 157, 165, .3);
    opacity: 0;
    transition: all .1s ease;
    animation: slideinwards 2s ease forwards;
    -webkit-animation: slideinwards 2s ease forwards;
}

@media screen and (max-width:500px) {
    .lNotf span {
        margin-bottom: 20px;
        left: 20px;
        right: 20px;
        font-size: 13px;
    }
}

@keyframes slideinwards {
    0% {
        opacity: 0
    }

    20% {
        opacity: 1;
        bottom: 0
    }

    50% {
        opacity: 1;
        bottom: 0
    }

    80% {
        opacity: 1;
        bottom: 0
    }

    100% {
        opacity: 0;
        bottom: -70px;
        visibility: hidden
    }
}

@-webkit-keyframes slideinwards {
    0% {
        opacity: 0
    }

    20% {
        opacity: 1;
        bottom: 0
    }

    50% {
        opacity: 1;
        bottom: 0
    }

    80% {
        opacity: 1;
        bottom: 0
    }

    100% {
        opacity: 0;
        bottom: -70px;
        visibility: hidden;
    }
}

.darkMode .lNotf span {
    box-shadow: 0 10px 40px rgba(0, 0, 0, .2);
}
