/* Login And SingUP Css Code...*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.signup {
    display: none;
}


.containerdiv {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.containerdiv .form {
    border-radius: 20px;
    transition: margin-left 0.18s ease;
    border: 1px solid #670202;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 35px;
}

.containerdiv .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.containerdiv .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 0 12px 0;
}

form .user-details .input-field {
    margin-bottom: 1px;
    width: calc(50% - 22px);
}

form .user-details .input-field span.details {
    display: contents;
    font-weight: 500;
    margin-bottom: 5px;
}

form .input-field span.details {
    display: contents;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-field input,
.user-details select {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ffb8b8;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-field input:focus,
.user-details .input-field input:valid {
    border-color: #9b59b6;
}

.form .input-field {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.input-field input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ffb8b8;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.input-field input:focus,
.input-field input:valid {
    border-bottom-color: #4070f4;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:focus~i,
.input-field input:valid~i {
    color: #4070f4;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}


.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin-right: 10px;
    accent-color: #4070f4;
}

@media(max-width: 584px) {
    .containerdiv {
        max-width: 100%;
    }

    form .user-details .input-field {
        margin-bottom: 10px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    /*
    .content form .user-details {
      max-height: 300px;
      overflow-y: scroll;
    }
*/
    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .containerdiv .content .category {
        flex-direction: column;
    }
}

.login-signup {
    margin-top: 30px;
    text-align: center;
}




/* Card View Css Code...*/
.card {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px;
    border: 1px solid #491e1e;
    border-radius: 30px;
    box-shadow: 7px 7px 10px rgb(33 2 2 / 64%);
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.00);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.litext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: start;
}

.img-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    overflow: hidden;
    border-radius: 50%;
}

.img-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    transition: all 0.3s ease-in-out;
}

.img-wrapper:hover img {
    transform: scale(1.2);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.img-wrapper:hover .overlay {
    opacity: 1;
}

.details {
    text-align: center;
}

.contact-info {
    margin-top: 8px;
    margin-bottom: 10px;
}

.contact-info ul {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info li i {
    margin-right: 10px;
    font-size: 18px;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.mybutton5 {
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 22px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    width: 100%;
    height: auto;
    border-radius: 30px;
    margin-top: 20px;
}

.mycenter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mybutton5:hover {
    background-color: #ff0000;
     border-radius: 30px;
}

.mybutton6 {
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 22px;
    background-color: #277c12;
    color: white;
    cursor: pointer;
    width: 100%;
    height: auto;
    border-radius: 30px;
    margin-top: 20px;
}

.mybutton6:hover {
    background-color: #a10000;
     border-radius: 30px;
}
.mycenter2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mybutton7 {
    height: 45px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
  align-items: center;
  width: -webkit-fill-available;
  }
  
  .mybutton7:hover {
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
  }

  
.slidimg {
    height: 40px;
    border-radius: 50%;
    margin-right: 14px;
    margin-left: 10px;
    border: 1px solid rgb(255, 255, 255);
    display: block;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 12px rgb(109, 255, 18);
}

.slidimg:hover .overlay {
    opacity: 1;
}

.titlelogin {
    font-family: var(--title-font);
    font-weight: 800;
    border: 1px solid #3bda13;
    border-radius: 10px;
    padding: 10px;
}

.fullbody {
    display: none;
    padding: 15px;
}

.fullbody2 {
    padding: 15px;
}


#login-logout-container {
    max-width:160px;
    display: flex;
    align-items: center;
}

#user-info-container {
    display: flex;
    align-items: center;
}

#avatar2 {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-right: 8px;
    border: 1px solid rgb(255, 255, 255);
    display: block;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 12px rgb(109, 255, 18);
}

#fname2 {
    font-size: 14px;
    font-weight: bold;
    margin-right: 3px;
    max-width: 80px;
    font-family: emoji;
}

.dropdown-toggle::after {
    display: none;
}

#avatar2:hover {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

#avatar2:hover .overlay {
    opacity: 1;
}

.dropdown-menu {
    transform: translate(-42px, 10px);
    position: absolute;
    z-index: 1000;
    display: none;
    padding: 5px 1px;
    margin: 0;
    text-align: left;
    list-style: none;
    border-radius: 0.25rem;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
}

#login-logout-button,
#logout-button {
    outline: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px;
    cursor: pointer;
    height: auto;
   border: 1px solid #36ba65;
    border-radius: 9px;
    box-shadow: 7px 3px 10px rgb(33 2 2 / 64%);
}

#login-logout-button {
    background-color: #ffffff;
    color: #ff5454;
}

#login-logout-button:hover {
    background-color: #002739;
    color: white;
}

#logout-button {
    color: black;
    background-color: #ffffff;
}

#logout-button:hover {
    background-color: #ff0000;
    color: white;
}

.beat-fade-icon {
    border: none;
    background-color: transparent;
    cursor: pointer;
    animation: beat-fade 1s ease-in-out infinite;
    margin-left: 5px;
}

@keyframes beat-fade {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    25% {
        transform: scale(1.25);
        opacity: 0.75;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }

    75% {
        transform: scale(1.25);
        opacity: 0.75;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.fa-sign-out {
    transform: rotate(0deg);
    font-size: 1.1rem;
}

.fa-sign-out:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    transform: rotate(90deg);
}

.fa-sign-down {
    transform: rotate(90deg);
    font-size: 1.1rem;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 999;
    display: none;
}

#loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 5px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: loading-spin 1s linear infinite;
}

@keyframes loading-spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
